<template>
  <q-page class="text-text1">
    <div class="q-pa-md">
      <!-- padding wrapper -->
      <!-- <period-timer style="transform: scale(0.5)" /> -->
      <!-- {{ oldvotes }} -->

      <div class="bg-bg1 shadow-4 round-borders q-pa-md q-mb-md">
        <display-custodians />
      </div>

      <div class="row gutter-md reverse-wrap">
        <!-- first column  -->
        <div class="col-xs-12 col-xl-8">
          <!-- <pre>{{getSelectedCand}}</pre> -->
          <div>
            <div class="q-display-1 q-mb-md ">
              {{ $t("vote_custodians.candidate_list") }}
              <span class="text-text2">- {{ custodians.length }}</span>
            </div>
            <p class="text-text2 q-body-1">
              {{
                $t("vote_custodians.description_main", {
                  dacname: $configFile.get("dacname")
                })
              }}
            </p>

            <div
              v-if="!loading"
              class="row bg-bg1 q-pa-md q-mb-md shadow-4 round-borders justify-between animate-fade"
            >
              <q-search
                :dark="getIsDark"
                color="primary-light"
                v-model="filter"
                :placeholder="$t('vote_custodians.search')"
              />
              <div
                v-if="!loading"
                class="row inline items-center q-mt-md"
                style="font-size:12px;"
              >
                <span>{{ $t("vote_custodians.rows_per_page") }}:</span>
                <q-select
                  class="q-ml-md"
                  style="width:45px;"
                  hide-underline
                  v-model="pagination.items_per_page"
                  :dark="getIsDark"
                  :options="[
                    { label: '4', value: 4 },
                    { label: '8', value: 8 },
                    { label: '16', value: 16 },
                    { label: '24', value: 24 },
                    { label: '48', value: 48 }
                  ]"
                />
                <q-pagination
                  color="primary-light"
                  v-show="true"
                  v-model="pagination.page"
                  :min="1"
                  :max="pagination.max"
                  :max-pages="6"
                  direction-links
                  size="12px"
                />
              </div>
            </div>
            <div
              class="q-pa-md round-borders shadow-4 bg-bg1 text-text2"
              v-if="!custodians.length"
            >
              No candidates
            </div>
            <div v-else>
              <Candidate
                v-for="candidate in paginate"
                :key="candidate.candidate_name"
                :ref="candidate.candidate_name"
                :data="candidate"
                @clickvotefor="addToVoteList(candidate.candidate_name)"
                @clickunvotefor="deleteFromVoteList(candidate.candidate_name)"
              />
            </div>

            <div
              v-if="!loading"
              class="row bg-bg1 q-pa-md q-mb-md shadow-4 round-borders justify-between animate-fade"
            >
              <q-search
                :dark="getIsDark"
                color="primary-light"
                v-model="filter"
                :placeholder="$t('vote_custodians.search')"
              />
              <div
                class="row inline items-center q-mt-md "
                style="font-size:12px;"
              >
                <span>{{ $t("vote_custodians.rows_per_page") }}:</span>
                <q-select
                  class="q-ml-md"
                  style="width:45px;"
                  hide-underline
                  v-model="pagination.items_per_page"
                  :dark="getIsDark"
                  :options="[
                    { label: '4', value: 4 },
                    { label: '8', value: 8 },
                    { label: '16', value: 16 },
                    { label: '24', value: 24 },
                    { label: '48', value: 48 }
                  ]"
                />
                <q-pagination
                  color="primary-light"
                  v-show="true"
                  v-model="pagination.page"
                  :min="1"
                  :max="pagination.max"
                  :max-pages="6"
                  direction-links
                  size="12px"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- second column -->
        <div class="col-xs-12 col-xl-4">
          <div>
            <div class="q-display-1 q-mb-md">
              {{ $t("vote_custodians.my_votes") }}
              <span class="text-text2"
                >- {{ getSelectedCand.length }}/{{ getMaxVotes }}</span
              >
            </div>
            <p class="text-text2 q-body-1">
              {{
                $t("vote_custodians.description_side", {
                  maxvotes: getMaxVotes,
                  dacname: $configFile.get("dacname")
                })
              }}
            </p>

            <q-card id="votebox" class="q-pa-lg q-mt-md bg-bg1 bg-logo">
              <q-btn
                style="font-weight: 300;"
                v-bind:class="{ pulse: votesdidchange }"
                class="full-width items-baseline q-mb-md"
                color="primary"
                size="xl"
                @click="voteForCandidates()"
              >
                <div style="width:55px;display:inlineblock">
                  <q-icon
                    size="40px"
                    class="float-left"
                    name="icon-ui-3"
                  ></q-icon>
                </div>
                <div style="display:inline-block">
                  <span v-if="votesdidchange">{{
                    $t("vote_custodians.submit_my_votes")
                  }}</span>
                  <span v-if="!votesdidchange">{{
                    $t("vote_custodians.my_votes")
                  }}</span>
                </div>
              </q-btn>

              <q-scroll-area
                style="width: 100%; height: 300px;"
                :thumb-style="{
                  right: '-11px',
                  borderRadius: '2px',
                  background: '#485aa3',
                  width: '10px',
                  opacity: 0.8
                }"
              >
                <q-list no-border class=" no-padding">
                  <transition-group name="list" tag="div">
                    <q-item
                      class="bg-bg2"
                      style="height:66px;margin-bottom:1px;"
                      v-for="cand in getSelectedCand"
                      :key="cand.candidate_name"
                    >
                      <q-item-side>
                        <q-item-tile class="">
                          <profile-pic
                            :accountname="cand.candidate_name"
                            :scale="0.6"
                          />
                        </q-item-tile>
                      </q-item-side>
                      <q-item-main>
                        <router-link
                          class="q-headline a2"
                          :to="{ path: '/profile/' + cand.candidate_name }"
                        >
                          <div
                            class="q-ma-none"
                            style="min-width:100px; overflow:hidden"
                          >
                            {{ cand.candidate_name }}
                          </div>
                        </router-link>
                      </q-item-main>
                      <q-item-side right>
                        <q-btn
                          dense
                          round
                          color="primary"
                          icon="close"
                          @click="deleteFromVoteList(cand.candidate_name)"
                        />
                      </q-item-side>
                    </q-item>
                  </transition-group>
                </q-list>
              </q-scroll-area>
              <!-- <pre>{{getSelectedCand}}</pre> -->
              <!-- <pre>{{getTokenBalance}}</pre> -->
              <!-- <pre>{{votesdidchange}}</pre> -->
            </q-card>
          </div>
        </div>
      </div>
      <!-- end row -->

      <q-scroll-observable @scroll="userHasScrolled" />

      <q-modal
        v-model="voting_disabled_modal"
        minimized
        :content-css="{ width: '50%' }"
      >
        <div class="bg-dark round-borders q-pa-md">
          <div style="overflow: auto;">
            <q-btn
              round
              color="primary"
              class="float-right"
              @click="voting_disabled_modal = false"
              icon="close"
            />
          </div>

          <div class="q-mb-xl q-mt-md">
            <div class="q-pb-md q-mb-md" style="border-bottom:1px solid grey">
              {{ $t("vote_custodians.voting_disabled_title") }}
            </div>
            <p class="text-text2">
              {{ $t("vote_custodians.voting_disabled_text") }}
            </p>
          </div>
        </div>
      </q-modal>
    </div>
    <!-- end wrapper -->

    <debug-data
      :data="[{ getDacVotes: getDacVotes }, { getCandidates: getCandidates }]"
    />
  </q-page>
</template>

<script>
import Candidate from "components/ui/candidate";
import profilePic from "components/ui/profile-pic";
import displayCustodians from "components/ui/display-custodians";
import debugData from "components/ui/debug-data";

import { Notify } from "quasar";

import { mapGetters } from "vuex";

export default {
  name: "Votecustodians",
  components: {
    Candidate,
    debugData,
    displayCustodians,
    profilePic
  },
  data() {
    return {
      voting_disabled_modal: false, //!this.$configFile.network.custodianContract.enable_voting,
      loading: false,
      voting_progress: 14,
      custodians: [],
      contractstate: [],
      pagination: {
        page: 1,
        max: 1,
        items_per_page: 48
      },
      filter: "",
      oldvotes: [],
      votesdidchange: false
    };
  },

  computed: {
    ...mapGetters({
      getAccountName: "user/getAccountName",
      getTokenBalance: "user/getDacBalance",
      getCandidates: "dac/getCandidates",
      getDacVotes: "user/getDacVotes",
      getIsDark: "ui/getIsDark",
      getCustodianConfig: "dac/getCustodianConfig"
      // getMemberRoles: 'account/getMemberRoles'
    }),

    getSelectedCand() {
      return this.custodians.filter(x => x.selected == true);
    },

    getMaxVotes() {
      if (this.getCustodianConfig.maxvotes) {
        return this.getCustodianConfig.maxvotes;
      }
    },

    paginate() {
      let filtered;

      if (this.filter != "") {
        filtered = this.custodians.filter(cand => {
          return cand.candidate_name.indexOf(this.filter) !== -1;
        });
      } else {
        filtered = this.custodians;
      }
      this.pagination.max = Math.ceil(
        filtered.length / this.pagination.items_per_page
      );

      filtered = filtered.slice(
        (this.pagination.page - 1) * this.pagination.items_per_page,
        this.pagination.page * this.pagination.items_per_page
      );

      // let candidates_on_page = filtered.map(c => c.candidate_name);
      // this.addProfiles(filtered, candidates_on_page);

      return filtered;
    }
  },

  async mounted() {
    this.getAllCandidates();
  },

  methods: {
    async getAllCandidates() {
      if (this.getCandidates) {
        this.custodians = this.getCandidates;
      } else {
        this.loading = true;
        this.custodians = await this.$store.dispatch(
          "dac/fetchActiveCandidates"
        );
        this.loading = false;
      }

      await this.getMemberVotes();
    },

    addToVoteList(name, init = false) {
      let selected = this.custodians.filter(x => x.selected == true);
      if (selected.length < this.getMaxVotes) {
        let cand = this.custodians.find(x => x.candidate_name === name);
        if (cand) {
          cand.selected = true;
          if (!init) {
            cand.total_votes =
              cand.total_votes * 1 + this.getTokenBalance * 10000;
          }
        }
        this.checkVotesChanged();
      } else {
        if (!init) {
          console.log("reached max number of votes.");
          Notify.create({
            message: `Reached maximum number of votes`,
            timeout: 2000,
            type: "negative",
            position: "bottom-right"
          });
        }
      }
    },

    deleteFromVoteList(name) {
      let cand = this.custodians.find(x => x.candidate_name === name);
      cand.selected = false;
      cand.total_votes = cand.total_votes * 1 - this.getTokenBalance * 10000;
      this.checkVotesChanged();
    },

    //cast votes
    async voteForCandidates() {
      if (!this.$configFile.configFile.contracts.custodian.enable_voting) {
        this.votesdidchange = false;
        this.voting_disabled_modal = true;
        return false;
      }
      if (!this.votesdidchange) {
        return false;
      }

      let votes = this.custodians
        .filter(x => x.selected == true)
        .map(c => c.candidate_name);

      let actions = [
        {
          account: this.$configFile.get("custodiancontract"),
          name: "votecust",
          data: {
            voter: this.getAccountName,
            newvotes: votes
          }
        }
      ];

      let result = await this.$store.dispatch("user/transact", {
        actions: actions
      });
      if (result) {
        this.votesdidchange = false;
        this.sortCandidatesByVotes();
        this.oldvotes = votes;
        this.$store.dispatch("user/fetchDacVotes");
        // $refs.votebar.initProgressbar();
      }
    },

    sortCandidatesByVotes() {
      this.custodians = this.custodians.sort(function(a, b) {
        let t = b.total_votes - a.total_votes;
        return t;
      });
    },

    checkVotesChanged() {
      let newvotes = this.custodians.filter(x => x.selected == true);

      if (newvotes.length != this.oldvotes.length) {
        this.votesdidchange = true;
      } else if (
        newvotes.every(v => this.oldvotes.includes(v.candidate_name))
      ) {
        this.votesdidchange = false;
      } else {
        this.votesdidchange = true;
      }
    },

    //get current votes from member from chain
    async getMemberVotes() {
      if (!this.getAccountName) {
        console.log("Guest mode, unable to retrieve votes");
        return false;
      }

      let votes = await this.$store.dispatch("user/fetchDacVotes");
      // let votes = [{candidates: ['piecesnbitss', 'evilmikehere']}];

      if (votes) {
        this.votesdidchange = false;
        this.oldvotes = votes;
        this.oldvotes.forEach(vote => {
          this.addToVoteList(vote, true);
        });
      } else {
        this.oldvotes = [];
        this.votesdidchange = false;
        console.log(`${this.getAccountName} has not voted.`);
      }
    },

    userHasScrolled(scroll) {
      const votebox = document.getElementById("votebox");
      if (scroll.position < 477 || window.innerWidth < 1200) {
        votebox.style.top = "0px";
        return false;
      }
      // console.log(`votebox: ${offset(votebox).top} scroll: ${scroll.position}`);
      votebox.style.top = scroll.position - 315 + "px";
    }
  },
  watch: {
    getAccountName(val) {
      this.votesdidchange = false;
      this.getSelectedCand.forEach(sc => {
        sc.selected = false;
      });
      this.getMemberVotes();
    }
  }
};
</script>

<style lang="stylus">
@import '~variables'


.list-item {
  display: inline-block;
  margin-right: 10px;
}

.list-enter-active, .list-leave-active {
  transition: all 0.5s ease;
}

.list-enter, .list-leave-to{
  opacity: 0;
  transform: translateY(35px);
}

.pulse{
  background-color:$p-light !important;
  transition: background-color 1000ms linear;
  -webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#votebox{
  position:relative;
  transition: all 1s ease 0s;
  top: 0;
}
</style>
